body {
    background-color: rgb(11, 145, 145);
    text-align: center;
}
p    {
    color: rgb(61, 61, 218);
}
h1   {
    font-style: italic;
    color: rgb(243, 35, 76)
}
.artorias{
    width: 50%;
}